<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFrameworkMoniker=".NETFramework,Version=v4.0" />
  </system.web>

  <system.serviceModel>

    <services>
      <service name="OrderService" behaviorConfiguration="OrderServiceBehavior">
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="OrderServiceBehavior">

          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceMetadata httpGetEnabled="True" />

          <trackingComponents>
            <add name="EtwTrackingParticipant" />
          </trackingComponents>

        </behavior>
      </serviceBehaviors>
    </behaviors>

    <tracking>
      
      <participants>
        <add name="EtwTrackingParticipant" 
             type="System.Activities.Tracking.EtwTrackingParticipant, System.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             profileName="JustTheBasicsTrackingProfile"
             />
      </participants>

      <profiles>

        <trackingProfile name="JustTheBasicsTrackingProfile">
          <workflow>

            <activityScheduledQueries>
              <activityScheduledQuery activityName="*" childActivityName="*"/>
            </activityScheduledQueries>
            
            <activityQueries>
              <activityQuery activityName="*">
                <states>
                  <state name="Closed"/>
                </states>
              </activityQuery>
            </activityQueries>

            <cancelRequestedQueries>
              <cancelRequestedQuery activityName="*" childActivityName="*"/>
            </cancelRequestedQueries>

            <faultPropagationQueries>
              <faultPropagationQuery activityName="*" extractFaultData="true" faultHandlerActivityName="*"/>
            </faultPropagationQueries>

            <workflowInstanceQuery>
              <states>
                <state name="*"/>
              </states>
            </workflowInstanceQuery>

            <workflowInstanceAbortedQuery includeReasonAborted="true"/>

            <workflowInstanceUnhandledExceptionQuery includeException="true"/>
            
          </workflow>
        </trackingProfile>
        
      </profiles>

    </tracking>
    
  </system.serviceModel>
  
</configuration>
